<% provide :title, t(".title") %>
<h1><%= t".title" %></h1>
<p>
  <%= t".the" %>
  <%= link_to t(".tutorial"), t(".l_tutorial") %>
  <%= t".is_a" %>
  <%= link_to t(".book"), t(".book") %>
  <%= t".and" %>
  <%= link_to t(".screencast"), t(".l_screencast") %>
  <%= t".descript_1" %>
  <%= link_to t(".ror"), t(".ror") %>
  <%= t".descript_2" %>
</p>
