<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".descript_1" %>
  <%= link_to t(".help"), t(".l_help") %>
  <%= t ".descript_2" %>
  <%= link_to t("static_pages.about.tutorial"), t("static_pages.about.l_book") %>.
</p>
